/** {
	margin: 0;
	padding: 0;
}*/

/*body{
	font-family: Verdana;
	font-size: 12px;
	background-color: black;
	text-align: center;
	height: 100%;
}*/

/*div{
	overflow: auto;
}*/

/*h1, h2, h3 {
	font-family: Georgia;
	font-style: italic;
}

h2{
	font-size: 16px;	
	color: #333333;
	padding-bottom: 5px;
}

h1{
	padding: 10px;
	font-size: 36px;
	color: white;
}

h3{
	color: white;
	font-size: 20px;
}

	h3 a{
		color: #DB5C04;
	}

li{
	list-style: none;	
}
*/
/*#wrapper{
	margin: 0px auto;
	text-align: left;
	width: 960px;
}*/



/*#paging_container3{
	height: 190px;
}
*/


/*.ellipse{
	float: left;
}*/

/*.container{
	width: 260px;
	float: left;
	margin: 50px 10px 10px;
	padding: 20px;
	background-color: white;
}*/

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
	margin-left:0px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	/*background-color:#666;*/
	background: url("../img/styles/default/backgrounds/box-head.jpg") repeat-x scroll left top padding-box rgba(0, 0, 0, 0);
	border: 1px solid #335A85;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

/*.content, .alt_content{
	color: black;
}*/

/*.content li, .alt_content li, .content > p{
	padding: 5px
}*/